  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
            <center> <%= image_tag "banner.png" %></center>
        </div>
      </div>
    </div>
    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">
          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><%= Project.all.count %></div>
              <h4 class="title"><a href="/projects" class="stretched-link"><%= t('projects') %></a></h4>
            </div>
          </div>
          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><%= Researcher.all.count %></div>
              <h4 class="title"><a href="/researchers" class="stretched-link"><%= t('researchers') %></a></h4>
            </div>
          </div>
          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><%= Article.all.count %></div>
              <h4 class="title"><a href= <%= articles_url %> class="stretched-link"><%= t('works') %></a></h4>
            </div>
          </div>
          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><%= Vacancy.all.count %></div>
              <h4 class="title"><a href="/vacancies" class="stretched-link">Vagas</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- End Hero Section -->

<main>
    <!-- ======= About CI2 Section ======= -->
    <section id="centro" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header-home">
          <h2 data-cy="lbl-the-center-title">O Centro</h2>
          <p data-cy="lbl-the-center-desc"><%= t('centerinfo') %></p>
        </div>
        <br>
        <div class="row gy-4">
          <div class="col-lg-6">
            <%= raw t('aboutcenter') %>
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic"><%= t('keywords') %></p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> <%= t('smartcities') %></li>
                <li><i class="bi bi-check-circle-fill"></i> <%= t('dataanalytics') %></li>
                <li><i class="bi bi-check-circle-fill"></i> <%= t('energytransportation') %></li>
                <li><i class="bi bi-check-circle-fill"></i> <%= t('envirurban') %></li>
                <li><i class="bi bi-check-circle-fill"></i> <%= t('infsystems') %></li>
                <li><i class="bi bi-check-circle-fill"></i> <%= t('ambienassisted') %></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About CI2 Section -->

      <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header-home">
          <h2><%= t('contacts') %></h2>
          <p>Ci2 - Centro de Investigação em Cidades Inteligentes - Instituto Politécnico de Tomar</p>
        </div>

        <div class="row gx-lg-0 gy-4">
          <div class="col-lg-4">
            <div class="info-container d-flex flex-column align-items-center justify-content-center">
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4><%= t('localization') %>:</h4>
                  <p>Quinta do Contador | Estrada da Serra | 2300-313 Tomar</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>geral@ipt.pt</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Telf:</h4>
                  <p>+351 249 328 100</p>
                </div>
              </div><!-- End Info Item -->
            </div>
          </div>

          <div class="col-lg-8">      
            <%= render template: "contacts/new" %>
          </div><!-- End Contact Form -->

        </div>
      </div>
    </section><!-- End Contact Section -->
    </main>