<h4>Users - <a href="<%= new_admin_user_path %>" class="btn btn-primary btn-sm"><i class="bi-person-fill-add me-2"></i>Create</a></h4>
<hr />
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Type</th>
      <th scope="col">Created</th>
      <th scope="col">Updated</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @resource.each do |resource| %>
      <tr>
        <th scope="row"><%= resource.id %></th>
        <td><%= resource.name %></td>
        <td><%= resource.email %></td>
        <td><%= resource.user_type.capitalize %></td>
        <td><%= resource.created_at %></td>
        <td><%= resource.updated_at %></td>
        <td>
          <a href="<%= admin_user_path(resource) %>" class="btn btn-primary btn-sm" data-toggle="tooltip" title="View user"><i class="bi-eye"></i></a>
          <a href="<%= edit_admin_user_path(resource) %>" class="btn btn-secondary btn-sm" data-toggle="tooltip" title="Edit user"><i class="bi-pencil"></i></a>
          <%= link_to admin_block_unblock_user_path(resource.id), class: 'btn btn-'+(resource.blocked_at.nil? ? 'danger':'success') + ' btn-sm', 'data-toggle': 'tooltip', title: (resource.blocked_at.nil? ? 'Block':'Unblock') + ' user', data: { turbo_method: :post, confirm: 'Are you sure?' } do %>
            <i class="bi-<%= resource.blocked_at.nil? ? 'sign-stop-fill':'bootstrap-reboot' %>"></i>
          <% end %>
          <%= link_to [:admin, resource], class: 'btn btn-danger btn-sm', 'data-toggle': 'tooltip', title: 'Delete user', data: { turbo_method: :delete, confirm: 'Are you sure?' } do %>
            <i class="bi-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>