<div class="container-fluid">
  <div class="row mt-5 justify-content-center">
    <div class="col-md-6">
      <div class="card" data-cy="form-edit-account">
        <div class="card-header">
          Edit My Account
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field form-group mb-3">
              <%= f.label :user_type %><br />
              <%= f.text_field :user_type, :value => f.object.user_type.capitalize, class:"form-control", readonly: true, disabled: true, 'data-cy': 'fld-user-type' %>
            </div>

            <div class="field form-group mb-3">
              <%= f.label :name %><br />
              <%= f.text_field :name, class:"form-control", placeholder:"Mohammed Ali", autofocus: true, autocomplete: "name", 'data-cy': 'fld-name' %>
            </div>

            <div class="field form-group mb-3">
              <%= f.label :email %><br />
              <%= f.email_field :email, class:"form-control", placeholder:"someone@example.com", autocomplete: "email" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field form-group">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, class:"form-control", placeholder:"*******", autocomplete: "new-password" %>
              <% if @minimum_password_length %>
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class="field form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, class:"form-control", placeholder:"*******", autocomplete: "new-password" %>
            </div>

            <div class="field form-group mt-4">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, class:"form-control", placeholder:"*******", autocomplete: "current-password", 'data-cy': 'fld-cur-pass' %>
            </div>

            <div class="actions mt-2">
              <%= f.submit "Update", class:"btn btn-primary", 'data-cy': 'btn-submit' %>
            </div>
          <% end %>
          <%= button_to "Delete my account", registration_path(resource_name), data: { turbo_confirm: "Are you sure you want to delete your account?" }, class:"btn btn-danger mt-5", method: :delete %>
        </div>
        <div class="card-footer">
          <%= link_to "Back", :back %>
        </div>
      </div>
    </div>
  </div>
</div>