<section id="contact" class="contact">
  <div class="container aos-init aos-animate">
    <div class="col-lg-6">
      <%= form_with model: @article, :html => {:class => "php-email-form"} do |form| %>
        <div class="project-form">
      <div id="title-project-form">Article Information</div>

      <div class="form-group">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div class="alert alert-warning"><%= message %></div>
    <% end %>
  </div>

          <div class="form-group">
    <%= form.label :abstract %><br>
    <%= form.text_area :abstract %><br>
    <% @article.errors.full_messages_for(:abstract).each do |message| %>
      <div class="alert alert-warning"><%= message %></div>
    <% end %>
  </div>
          <div class="form-group">
    <%= form.label "Projetos" %><br>
    <%= select_tag :project_ids, options_from_collection_for_select(Project.all, :id, :title),  multiple: true%>
  </div>

          <div class="form-group">
    <%= form.label "Authors" %><br>
    <%= select_tag :researcher_ids, options_from_collection_for_select(Researcher.all, "id", "name"),  multiple: true%>
  </div>


          <div class="form-group">
    <%= form.label :publish_date %><br>
    <%= form.date_field :publish_date %><br>
    <% @article.errors.full_messages_for(:publish_date).each do |message| %>
      <div class="alert alert-warning"><%= message %></div>
    <% end %>
  </div>

          <div class="form-group">
    <%= form.label :pages %><br>
    <%= form.number_field :pages %><br>
    <% @article.errors.full_messages_for(:pages).each do |message| %>
      <div class="alert alert-warning"><%= message %></div>
    <% end %>
  </div>

          <div class="form-group">
            <%= form.label :tag_list, :class => "input-group-text" %>
            <%= form.text_field :keyword_list, :class => "form-control", :placeholder => "List the tags separated by a comma" %>
            <% @article.errors.full_messages_for(:keyword_list).each do |message| %>
              <div class="alert alert-warning"><%= message %></div>
            <% end %>
          </div>

          <div class="form-group">
    <%= form.label :url %><br>
    <%= form.text_field :url %><br>
    <% @article.errors.full_messages_for(:url).each do |message| %>
      <div class="alert alert-warning"><%= message %></div>
    <% end %>
  </div>

          <div class="form-group">
    <%= form.label :ids %><br>
    <%= form.text_field :ids %><br>
    <% @article.errors.full_messages_for(:ids).each do |message| %>
      <div class="alert alert-warning"><%= message %></div>
    <% end %>
  </div>
        </div>
          <div class="form-group">

        <div class="project-form">
          <div id="title-project-form">Specification</div>
  <select id="myselection">
    <option disabled selected value> -- select an option -- </option>
    <option value="Book"  >Book</option>
    <option value="Journal"  >Journal</option>
    <option value="Conference" >Conference</option>
    <option value="Report">Report</option>
    <option value="Thesis"  >Thesis</option>
  </select>

  <div id="showBook" class="myDiv">
    <div class="form-group">
      <%= form.label :edition %><br>
      <%= form.text_field :edition %><br>
      <% @article.errors.full_messages_for(:edition).each do |message| %>
        <div class="alert alert-warning"><%= message %></div>

      <% end %>
    </div>
    <div class="form-group">
        <%= form.label :publisher %><br>
        <%= form.text_field :publisher %><br>
        <% @article.errors.full_messages_for(:publisher).each do |message| %>
          <div class="alert alert-warning"><%= message %></div>

        <% end %>
      </div>


  </div>

  <div id="showConference" class="myDiv">
    <div class="form-group">
      <%= form.label :proceedings %><br>
      <%= form.text_field :proceedings %><br>
      <% @article.errors.full_messages_for(:proceedings).each do |message| %>
        <div class="alert alert-warning"><%= message %></div>

      <% end %>
    </div>
      <div>
        <%= form.label :place %><br>
        <%= form.text_field :place %><br>
        <% @article.errors.full_messages_for(:place).each do |message| %>
          <div class="alert alert-warning"><%= message %></div>
        <% end %>
      </div>

  </div>

  <div id="showJournal" class="myDiv">
    <div>
      <%= form.label :journal_name %><br>
      <%= form.text_field :journal_name %><br>
      <% @article.errors.full_messages_for(:journal_name).each do |message| %>
        <div class="alert alert-warning"><%= message %></div>

      <% end %>
    </div>


  </div>

  <div id="showThesis" class="myDiv">
    <div>
      <%= form.label :university %><br>
      <%= form.text_field :university %><br>
      <% @article.errors.full_messages_for(:university).each do |message| %>
        <div class="alert alert-warning"><%= message %></div>

      <% end %>
    </div>
      <div>
        <%= form.label :thesis_type %><br>
        <%= form.text_field :thesis_type %><br>
        <% @article.errors.full_messages_for(:thesis_type).each do |message| %>
          <div class="alert alert-warning"><%= message %></div>

        <% end %>
      </div>
  </div>

  <%= form.hidden_field :type , value: 'Book', :class => "hidden-field1" %>
  <%= form.hidden_field :type , value: 'Journal', :class => "hidden-field2" %>
  <%= form.hidden_field :type , value: 'Thesis', :class => "hidden-field3" %>
  <%= form.hidden_field :type , value: 'Conference', :class => "hidden-field4" %>
  <%= form.hidden_field :type , value: 'Report', :class => "hidden-field5" %>

          <div class="text-center">
    <%= form.submit :class=>"btn btn-primary"%>
  </div>
<% end %>
      </div>
    </div>
    </div>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
    $(document).ready(function(){
        $("div.myDiv").hide();
        $(".hidden-field1").attr("disabled", true);
        $(".hidden-field2").attr("disabled", true);
        $(".hidden-field3").attr("disabled", true);
        $(".hidden-field4").attr("disabled", true);
        $(".hidden-field5").attr("disabled", true);
        $('#myselection').on('change', function(){
            var demovalue = $(this).val();
            $("div.myDiv").hide();
            $("#show"+demovalue).show();
            if(demovalue == 'Book'){
                $(".hidden-field1").attr("disabled", false);
                $(".hidden-field2").attr("disabled", true);
                $(".hidden-field3").attr("disabled", true);
                $(".hidden-field4").attr("disabled", true);
                $(".hidden-field5").attr("disabled", true);
            }
            else if(demovalue == 'Journal'){
                $(".hidden-field1").attr("disabled", true);
                $(".hidden-field2").attr("disabled", false);
                $(".hidden-field3").attr("disabled", true);
                $(".hidden-field4").attr("disabled", true);
                $(".hidden-field5").attr("disabled", true);
            }
            else if(demovalue == 'Thesis'){
                $(".hidden-field1").attr("disabled", true);
                $(".hidden-field2").attr("disabled", true);
                $(".hidden-field3").attr("disabled", false);
                $(".hidden-field4").attr("disabled", true);
                $(".hidden-field5").attr("disabled", true);
            }
            else if(demovalue == 'Conference'){
                $(".hidden-field1").attr("disabled", true);
                $(".hidden-field2").attr("disabled", true);
                $(".hidden-field3").attr("disabled", true);
                $(".hidden-field4").attr("disabled", false);
                $(".hidden-field5").attr("disabled", true);
            }
            else if(demovalue == 'Report'){
                $(".hidden-field1").attr("disabled", true);
                $(".hidden-field2").attr("disabled", true);
                $(".hidden-field3").attr("disabled", true);
                $(".hidden-field4").attr("disabled", true);
                $(".hidden-field5").attr("disabled", false);
            }

        });
    });
</script>