
<div class="blog">
  <div class="container aos-init aos-animate">
    <article class="blog-details">
      <div class="row">
        <div class="col-md-6">
          <ul>
            <% article.researchers.each do  |researcher|%>
              <li class="d-flex align-items-center"><i class="bi bi-person"></i>

                <a href="/researchers/<%= researcher.id %>"><%= researcher.name%></a>

              </li>
            <%end%>
            <% if article.publish_date %>
            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href=""><time datetime= <%= article.publish_date %>><%= article.publish_date %></time></a></li>
            <% end %>
            <% if article.url %>
            <li class="d-flex align-items-center"><i class="bi bi-app"></i> <a href=""><%= article.url %></a></li>
            <% end %>
            <% if article.pages %>
            <li class="d-flex align-items-center"><i class="bi bi-book"></i> <a href=""><%= article.pages %></a></li>
            <% end %>
            <% if article.ids %>
            <li class="d-flex align-items-center"><i class="bi bi-link"></i> <a href=""><%= article.ids %></a></li>
            <% end %>
            <% if article.keyword_list %>
              <% if  article.keyword_list.length !=0%>
                <% article.keyword_list.each do |tag| %>
              <li class="d-flex align-items-center"><i class="bi bi-bookmark"></i> <%=link_to tag,tagged_path(tag: tag)%></li>
                <% end %>
              <% end %>
            <% end %>
            <%case article.type %>
            <%when 'Book'%>
              <% if  article.type %>
              <li class="d-flex align-items-center"><i class="bi bi-book"></i> <%= article.type %></li>
              <% end %>
              <% if  article.edition %>
              <li class="d-flex align-items-center"><i class="bi bi-book"></i><%= article.class.column_for_attribute(:edition).name %> : <a href=""> <%= article.edition %></a></li>
              <% end %>
              <% if  article.publisher %>
                <li class="d-flex align-items-center"><i class="bi bi-book"></i><%= article.class.column_for_attribute(:publisher).name %> : <a href=""> <%= article.publisher %></a></li>
              <% end %>
            <%when 'Thesis'%>

              <li class="d-flex align-items-center"><i class="bi-arrow-right-square-fill"></i> <%= article.type %></li>
              <% if  article.university %>
              <li class="d-flex align-items-center"><i class="bi-arrow-right-square-fill"></i><%= article.class.column_for_attribute(:university).name %> : <a href=""> <%= article.university %></a></li>
              <% end %>
              <% if  article.thesis_type%>
                <li class="d-flex align-items-center"><i class="bi-arrow-right-square-fill"></i><%= article.class.column_for_attribute(:thesis_type).name %> : <a href=""> <%= article.thesis_type %></a></li>
              <% end %>
            <%when 'Conference'%>
              <li class="d-flex align-items-center"><i class="bi bi-camera-video"></i> <%= article.type %></li>
              <% if  article.proceedings%>
              <li class="d-flex align-items-center"><i class="bi bi-camera-video"></i><%= article.class.column_for_attribute(:proceedings).name %> : <a href=""> <%= article.proceedings %></a></li>
              <% end %>
              <% if  article.place %>
                <li class="d-flex align-items-center"><i class="bi bi-camera-video"></i><%= article.class.column_for_attribute(:place).name %> : <a href=""> <%= article.place %></a></li>
              <% end %>

            <%when 'Journal'%>
              <li class="d-flex align-items-center"><i class="bi bi-book-half"></i> <%= article.type %></li>
              <% if  article.journal_name %>
              <li class="d-flex align-items-center"><i class="bi bi-camera-video"></i><%= article.class.column_for_attribute(:journal_name).name %> : <a href=""> <%= article.journal_name %></a></li>
              <% end %>

            <%when 'Report'%>
              <li class="d-flex align-items-center"><i class="bi bi-flag"></i> <%= article.type %></li>
          <%else %>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="content">
        <p><%= article.abstract %></p>
        <p></p>
        <div class="col-md-6">
          <ul>
            <% article.projects.each do |project|  %>
              <li class="d-flex align-items-center"><i class="bi bi-kanban"></i> <a href="/projects/<%= project.id %>"><%= project.title%></a> </li>
            <%end%>
          </ul>
        </div>
      </div>
      <div class="meta-bottom">

        <% #Opção de editar e apagar só aparece se estiver com o login efetuado %>
        <% if user_signed_in? && ['user','admin','superadmin'].include?(current_user.user_type) %>
          <ul class="cats">
            <li><i class="bi bi-pencil"></i><%= link_to "Edit", edit_article_path(article) %></li>
            <li><i class="bi bi-eraser"></i><%= link_to "Destroy", article_path(article), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            } %></li>
          </ul>
        <% end %>
        <%= link_to "Return  to Index", "/articles" %>
      </div>

    </article>
  </div>
</div>

