
<div class="blog">
  <div class="container aos-init aos-animate">
    <article class="blog-details">
      <div class="row">
        <div class="col-md-6">
          <ul>
            <% article.researchers.each do  |researcher|%>
              <li class="d-flex align-items-center"><i class="bi bi-person"></i>

                <a href="/researchers/<%= researcher.id %>"><%= researcher.name%></a>

              </li>
            <%end%>
            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href=""><time datetime= <%= article.publish_date %>><%= article.publish_date %></time></a></li>
            <li class="d-flex align-items-center"><i class="bi bi-app"></i> <a href=""><%= article.url %></a></li>
            <li class="d-flex align-items-center"><i class="bi bi-book"></i> <a href=""><%= article.pages %></a></li>
            <li class="d-flex align-items-center"><i class="bi bi-link"></i> <a href=""><%= article.ids %></a></li>
            <li class="d-flex align-items-center"><i class="bi bi-file-earmark-word"></i> <%= article.keywords %></li>
            <%case article.type %>
            <%when 'Book'%>
              <li class="d-flex align-items-center"><i class="bi bi-book"></i> <%= article.type %></li>
              <li class="d-flex align-items-center"><i class="bi bi-book"></i><%= article.class.column_for_attribute(:edition).name %> : <a href=""> <%= article.edition %></a></li>
              <li class="d-flex align-items-center"><i class="bi bi-book"></i><%= article.class.column_for_attribute(:publisher).name %> : <a href=""> <%= article.publisher %></a></li>

            <%when 'Thesis'%>
              <li class="d-flex align-items-center"><i class="bi-arrow-right-square-fill"></i> <%= article.type %></li>

              <li class="d-flex align-items-center"><i class="bi-arrow-right-square-fill"></i><%= article.class.column_for_attribute(:university).name %> : <a href=""> <%= article.university %></a></li>
              <li class="d-flex align-items-center"><i class="bi-arrow-right-square-fill"></i><%= article.class.column_for_attribute(:thesis_type).name %> : <a href=""> <%= article.thesis_type %></a></li>

            <%when 'Conference'%>
              <li class="d-flex align-items-center"><i class="bi bi-camera-video"></i> <%= article.type %></li>
              <li class="d-flex align-items-center"><i class="bi bi-camera-video"></i><%= article.class.column_for_attribute(:proceedings).name %> : <a href=""> <%= article.proceedings %></a></li>
              <li class="d-flex align-items-center"><i class="bi bi-camera-video"></i><%= article.class.column_for_attribute(:place).name %> : <a href=""> <%= article.place %></a></li>


            <%when 'Journal'%>
              <li class="d-flex align-items-center"><i class="bi bi-book-half"></i> <%= article.type %></li>
              <li class="d-flex align-items-center"><i class="bi bi-camera-video"></i><%= article.class.column_for_attribute(:journal_name).name %> : <a href=""> <%= article.journal_name %></a></li>

          <%else %>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="content">
        <p><%= article.abstract %></p>
        <p></p>
        <div class="col-md-6">
          <ul>
            <% article.projects.each do |project|  %>
              <li class="d-flex align-items-center"><i class="bi bi-kanban"></i> <a href="/projects/<%= project.id %>"><%= project.title%></a> </li>
            <%end%>
          </ul>
        </div>
      </div>
      <div class="meta-bottom">
        <% #Opção de editar e apagar só aparece se estiver com o login efetuado %>
        <% if user_signed_in? && ['user','admin','superadmin'].include?(current_user.user_type) %>
          <i class="bi bi-eraser"></i>
          <ul class="cats">
            <li><%= link_to "Edit", edit_article_path(article) %></li>
            <li><%= link_to "Destroy", article_path(article), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            } %></li>
          </ul>
        <% end %>
        <%= link_to "Return  to Index", "/articles" %>
      </div>

    </article>
  </div>
</div>

