<div class="blog">
  <div class="container aos-init aos-animate"> 
        <%= form_with model: @institutions do |form| %>
          <div class="project-form">
            <div id="title-project-form"><%= t("researcher") %></div>
                <div>
                  <%= form.label :name %><br>
                  <%= form.text_field :name, :class => "form-control" %>
                  <% @institutions.errors.full_messages_for(:name).each do |message| %>
                    <div><%= message %></div>
                  <% end %>
                </div>

                <div>
                  <%= form.label :description %><br>
                  <%= form.text_field :description, :class => "form-control" %>
                  <% @institutions.errors.full_messages_for(:description).each do |message| %>
                    <div><%= message %></div>
                  <% end %>
                </div>

                <div>
                  <%= form.label :url %><br>
                  <%= form.text_field :url, :class => "form-control" %>
                  <% @institutions.errors.full_messages_for(:url).each do |message| %>
                    <div><%= message %></div>
                  <% end %>
                </div>
                
                <div>
                  <%= form.label :image %><br>
                  <%= form.file_field :image, accept: 'image/png,image/jpeg', id:"filepicker" %>
                  <% @institutions.errors.full_messages_for(:image).each do |message| %>
                    <div><%= message %></div>
                  <% end %>
                </div>

                <div>
                  <%= form.label :partner %><br>
                  <%= form.text_field :partner, :class => "form-control" %>
                  <% @institutions.errors.full_messages_for(:partner).each do |message| %>
                    <div><%= message %></div>
                  <% end %>
                </div>
            </div>
          </div>
          <div class="text-center">
            <%= form.submit %>
          <p><a href="/institutions">Return to index</a></p>

          </div>
        <% end %>

    
  </div>
</div>


