<div class="blog">
  <div class="container aos-init aos-animate"> 
        <%= form_with model: @institutions do |form| %>
          <div>
            <%= form.label :name %><br>
            <%= form.text_field :name, :class => "form-control" %>
          </div>
          
          <div>
            <%= form.label :url %><br>
            <%= form.text_field :url, :class => "form-control" %>
          </div>
          
          <div>
            <%= form.label :image %><br>
            <%= form.file_field :image, accept: 'image/png,image/jpeg', id:"filepicker" %>
          </div>

          <div>
            <%= form.label :partner %><br>
            <%= form.text_field :partner, :class => "form-control" %>
          </div>

          <div>
            <%= form.submit %>
          </div>
        <% end %>
    <li><a href="/institutions">Voltar a Lista de Instituições</a></li>
  </div>
</div>

<script> 
// script para base64
var handleFileSelect = function(evt) {
    var files = evt.target.files;
    var file = files[0];

    if (files && file) {
        var reader = new FileReader();

        reader.onload = function(readerEvt) {
            var binaryString = readerEvt.target.result;
            var fileending = file.type;
            if(fileending == "image/jpeg")
            {
                fileending = "image/jpg";
            }
            var test = btoa(binaryString);
            var final = "data:"+fileending+";base64,"+test;
        };

        reader.readAsBinaryString(file);
    }
};

if (window.File && window.FileReader && window.FileList && window.Blob) {
    document.getElementById('filePicker').addEventListener('change', handleFileSelect, false);
} else {
    alert('The File APIs are not fully supported in this browser.');
}
</script>


